# Compilation
*.js
!main.js
!src/**/*.js
!dist/

# TypeScript
*.tsbuildinfo
coverage/

# Logs
logs
*.log

# OS
.DS_Store

# IDE
.idea/
.vscode/

# Environment
.env
.env.local
.env.development
.env.test
.env.production

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Build
dist/
build/