# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
.pnpm-debug.log

# Build files
dist/
coverage/

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
logs
*.log

# Optional npm/yarn/pnpm files
.npm
.yarn
.pnpm